<UserScriptConfig>
	<Script basedir="eyny" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="eynyOnly" enabled="true" filename="eyny.js" installTime="1453623667000" modified="1462434726000" name="eyny" namespace="diywork.info" noframes="false" runAt="document-end" updateMetaStatus="ok" uuid="d472b46c-75ed-4cf7-aa64-6b12bf21f6a6" version="1.0" installurl="file:///home/jackchen/.mozilla/firefox/7n10kw3n.default/gm_scripts/eyny/eyny.js" updateurl="file:///home/jackchen/.mozilla/firefox/7n10kw3n.default/gm_scripts/eyny/eyny.js">
		<Grant>none</Grant>
		<Include>http://www*.eyny.com/forum*.html</Include>
		<Include>http://www*.eyny.com/forum*.php</Include>
	</Script>
	<Script basedir="jkForum" checkRemoteUpdates="1" dependhash="da39a3ee5e6b4b0d3255bfef95601890afd80709" description="jkForumOnly" enabled="true" filename="jkForum.user.js" installTime="1462433738000" modified="1462435271000" name="jkForum" namespace="diywork.info" noframes="false" runAt="document-end" updateMetaStatus="unknown" uuid="68ae87da-d231-428f-a4de-ccbb450ecc3c" version="0.1" installurl="file:///home/jackchen/.mozilla/firefox/7n10kw3n.default/gm_scripts/jkForum/jkForum.user.js" updateurl="file:///home/jackchen/.mozilla/firefox/7n10kw3n.default/gm_scripts/jkForum/jkForum.user.js">
		<Grant>none</Grant>
		<Include>http://www.jkforum.net/forum*.html</Include>
		<Include>http://www.jkforum.net/forum*.php</Include>
	</Script>
</UserScriptConfig>